* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    width: 3rem;
    background-color: white;
    padding: 0.6rem 0.3rem;
    border: none;
    border-radius: 0.6rem;
    box-shadow: 0.2rem 0.2rem 0.5rem rgb(212, 211, 211);
    color: black;
}

h2 {
    margin: auto;
    padding: 0.5rem 0;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: auto;
}

.mobile {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.container>* {
    margin-top: 0.5rem;
}

.row {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin: 0.3rem 0;

}

.mobile-row {
    flex-direction: row;
}

.row>* {
    margin: 0.4rem 0.3rem;
}

form {
    background-color: #ccbbdf;
}

.form-header {
    width: 100%;
    display: flex;
    background-color: #441e7a;
    color: white;
    border-radius: 1rem;
    justify-content: center;
    font-size: 0.7rem;
}

input {
    color: black;
    padding: 0.4rem 0.3rem;
    border: none;
    border-radius: 0.6rem;
    box-shadow: 0.2rem 0.2rem 0.5rem rgb(212, 211, 211);
    flex: 1;
    margin: 0.2rem 0;
}

.section-input {
    flex: 2;
}

select {
    border: none;
    border-radius: 0.6rem;
    box-shadow: 0.2rem 0.2rem 0.5rem rgb(212, 211, 211);
    flex: 1;
}

h1 {
    padding: 1rem 0;
    margin: auto;
}

label {
    background-color: #441e7a;
    color: white;
    border-radius: 0.5rem;
    padding: 0.4rem 0.6rem;
}

#submit {
    background-color: white;
    width: 10rem;

}

button:hover,
#submit:hover {
    background-color: #441e7a;
    box-shadow: 0.2rem 0.2rem 1rem #5d29a4;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

th {
    color: white;
    background-color: #441e7a;
    border-radius: 0.15rem;
}

#table {
    text-align: center;
}

#total-label,
#budget {
    width: 40%;
    padding: 0.7rem 0.1;
    font-size: 1.1rem;
    background-color: #441e7a;
}

@media(min-width:600px) {
    .row {
        flex-direction: row;
    }

    .form-header {
        font-size: 1rem;
    }

    button {
        width: 8rem;
    }

    .mobile {
        width: 90%;
    }
}